<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Immutable" version="1.0.5-beta" targetFramework="win" />
  <package id="Rx-Core" version="2.0.21114" targetFramework="win" />
  <package id="Rx-Interfaces" version="2.0.21114" targetFramework="win" />
  <package id="Rx-Linq" version="2.0.21114" targetFramework="win" />
  <package id="SharpDX" version="2.4.2" targetFramework="win" />
  <package id="SharpDX.D3DCompiler" version="2.4.2" targetFramework="win" />
  <package id="SharpDX.Direct2D1" version="2.4.2" targetFramework="win" />
  <package id="SharpDX.Direct3D11" version="2.4.2" targetFramework="win" />
  <package id="SharpDX.DXGI" version="2.4.2" targetFramework="win" />
  <package id="Strilanc.Angle" version="1.0.3" targetFramework="win" />
  <package id="Strilanc.LinqToCollections" version="1.0.1" targetFramework="win" />
  <package id="Strilanc.Value.May" version="1.0.2" targetFramework="win" />
  <package id="TwistedOak.Collections.PerishableCollection" version="1.0.1" targetFramework="win" />
  <package id="TwistedOak.Threading" version="1.0.0" targetFramework="win" />
  <package id="TwistedOak.Util.Lifetime" version="1.0.2" targetFramework="win" />
  <package id="Validation" version="2.0.2.13022" targetFramework="win" />
</packages>